/* global */
*
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Nothing You Could Do', cursive;
}
@media (max-width:767px) {
    
}
@media (min-width:768px) {
    .container
    {
        width: 768px
    }
}
@media (min-width:992px) {
    .container
    {
        width: 992px
    }
}
@media (min-width:1200px) {
    .container
    {
    width: 1200px;
    }
}
/* global */
/* header */
header
{
    background-image: url(../images/sai-kiran-anagani-61187-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    color: white;
    text-align: center;

}
header .overlay
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(83, 83, 209, 0.1);
}
header h1
{
    padding-bottom: 50px;
    margin: 0;
    font-size: 43px
}
header .thplans
{
    padding: 25px 15px;
    border: 3px solid #fff;
    width: 48%;
    color: #fff;
    margin: 0 1%;
}
header .thplans p
{
    margin: 0;
    font-size: 35px
}
header .thplans:hover
{
    background-color: rgba(83, 83, 209, 1);
}
@media (max-width:767px) {
    header .thplans
    {
    float: none;
    width: 96%;
    margin: 0 2% 20px;
    padding: 3%
    }
}
@media (max-width:480px) {
    header h1
    {
        font-size: 25px;
    }
    header p
    {
    font-size: 28px;
    }
}

/* header */
/* features */
.features .feat
{
    width: 33%;
    padding: 10px;
    padding-left: 20px
}
.features .feat h3
{
    font-size: 35px;
    margin-bottom: 10px;
}
.features .feat p
{
    padding-left:10px; 
    margin-top: 0;
    font-size: 30px;
}
@media (max-width:767px) {
    .features .feat
    {
        width: 100%;
        text-align: center;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .features .feat:first-of-type
    {
        width: 100%;
    }
    .features .feat:not(:first-of-type)
    {
        width: 50%;
    }
}
/* features */

/* my framework */
.container
{
    margin: auto;
}
.floating
{
    float: left;
}
.clearfix
{
    clear: both;
}
/* my framework */