/* global */
*
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Nothing You Could Do', cursive;
}
@media (max-width:767px) { /*mobile screen*/
    .rsp
    {
        font-size: 30px !important;
        text-align: center !important;
        padding: 0 !important;
    }
    .rsh
    {
        font-size: 40px !important;
        text-align: center !important;
    }
}
@media (min-width:768px) and (max-width:991px) { /*tablet screen*/
    .container
    {
        width: 768px
    }
    .rsp
    {
        padding: 0 !important;
        font-size: 30px !important;
        text-align: center !important;
    }
    .rsh
    {
        font-size: 40px !important;
        text-align: center !important;
    }
}
@media (min-width:992px) { /*small screen*/
    .container
    {
        width: 992px
    }
}
@media (min-width:1200px) { /*large screen*/
    .container
    {
    width: 1200px;
    }
}
/* global */
/* header */
header
{
    background-image: url(../images/sai-kiran-anagani-61187-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    color: white;
    text-align: center;

}
header .overlay
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(83, 83, 209, 0.1);
}
header h1
{
    padding-bottom: 50px;
    margin: 0;
    font-size: 43px
}
header .thplans
{
    padding: 25px 15px;
    border: 3px solid #fff;
    width: 48%;
    color: #fff;
    margin: 0 1%;
    cursor: pointer;
}
header .thplans p
{
    margin: 0;
    font-size: 35px
}
header .thplans:hover
{
    background-color: rgba(83, 83, 209, 1);
}
@media (max-width:767px) {
    header .thplans
    {
    float: none;
    width: 96%;
    margin: 0 2% 20px;
    padding: 3%
    }
}
@media (max-width:480px) {
    header h1
    {
        font-size: 25px;
    }
    header p
    {
    font-size: 28px;
    }
}

/* header */
/* features */
.features .feat
{
    width: 33%;
    padding: 10px;
    padding-left: 20px
}
.features .feat h3
{
    font-size: 35px;
    margin-bottom: 10px;
}
.features .feat p
{
    padding-left:10px; 
    margin-top: 0;
    font-size: 30px;
}
@media (max-width:767px) {
    .features .feat
    {
        width: 100%;
        text-align: center;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .features .feat:first-of-type
    {
        width: 100%;
    }
    .features .feat:not(:first-of-type)
    {
        width: 50%;
    }
}
/* features */
/* about us */
.about
{
    padding: 30px 0;
    background-color: #eee;
}
.about h2
{
    margin-bottom: 0;
    font-size:50px;
    padding: 0 25px;
}
.about p
{
    color: #555;
    font-size: 40px;
    padding: 0 25px;
}

/* about us */
/* gallrey */
.gallary > div:not(.clearfix)
{
    height: 350px;
    padding: 4px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    box-shadow: 10px 10px 10px #ccc;
}
.gallary > div img
{
    width: 100%;
    height: 100%;
}
@media (max-width:767px) { /*mobile screen*/
    .gallary > div
    {
    width: 100%;
    }
}
@media (min-width:768px) and (max-width:991px) { /*tablet screen*/
    .gallary > div
    {
    width: 50%;
    }
}
@media (min-width:992px) { /*small screen*/
    .gallary > div
    {
    width: 33.333%;
    }
}
@media (min-width:1200px) { /*large screen*/
    .gallary > div
    {
    width: 25%;
    }
}
/* gallary */
/* pricing */
.price
{
    padding: 50px 0;
    background-color: #363232;
    text-align: center;
    color: white;
    box-shadow: 0px 15px 10px #ccc;
}
.price h2
{
    font-size: 60px;
    color: rgb(207, 203, 203);
    overflow: hidden;
}
.price .plan
{
    padding: 2%;
    border: 2px solid white;
    width: 33.33%;
    transition: transform .2s ease-in-out
}
.price .plan:hover
{
    background-color: rgba(83, 83, 209, 1);
    transform: scale(1.05);
}
.price .plan h3{
    font-size: 40px;
    margin-bottom: 0;
}
.price .plan h4{
    font-size: 25px;
    margin: 10px 0;
    color: rgba(83, 83, 209, 1);
}
.price .plan:hover h4
{
    color: #fff;
}
.price .plan ul
{
    list-style: none;
    padding: 0;
    font-size: 30px;
    margin-top: 5px;
}
    .price .plan.active
    {
        background-color: rgba(83, 83, 209, 1);
        transform: scale(1.05);
    }
@media (max-width:767px) { /*mobile screen*/
    .price .plan
    {
        width: 100%;
        margin-bottom: 15px;
    }
}
@media (min-width:768px) and (max-width:991px) { /*tablet screen*/
    .price .plan
    {
        width: 50%;
    }
    .price .plan:first-of-type
    {
        width: 100%;
        margin-bottom: 10px
    }
}
@media (min-width:992px) { /*small screen*//*till large screen*/
    .price .plan
    {
        width: 32.66%;
        margin-right: 1%;
    }
    .price .plan:nth-of-type(3)
    {
        margin-right: 0;
    }
    .price .plan.active h4
    {
        color: #fff;
    }
}

/* pricing */
/* testimonial */
.testi
{
    padding: 50px 0;
}
.testi h2
{
    font-size: 45px;
    text-align: center;
}
.testi .visitor
{
    background-color: #dededd;
    padding: 1%;
    border: 1px solid rgb(163, 159, 159);
    border-radius: 15px;
}
.testi .visitor h3
{
    font-size: 30px;
    margin: 10px 0 10px 10px;
    color: #2e2b2b
}
.testi .visitor p
{
    padding-left: 4%;
    color: #424040;
    font-size: 25px;
    margin-top: 0;
}
.testi .visitor .img
{
    width: 120px;
    margin-right: 30px;
}
.testi .visitor .img img
{
    width: 100%;
    border-radius: 50%;
    padding: 8px;
    border: #ccc;
    box-shadow: 10px 10px 10px #ccc;
    background-color: #eee;
}
/* .testi .visitor .info
{
    width:calc(100% - 150px);
} */
@media (max-width:767px) { /*mobile screen*/
    .testi .visitor
    {
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
    }
    .testi .visitor .img
    {
        float: none;
        margin: 10px auto;
    }
}
@media (min-width:768px) and (max-width:991px) { /*tablet screen*/
    .testi .visitor:first-of-type
    {
        width: 100%;
        margin-bottom: 10px;
    }
    .testi .visitor:not(:first-of-type)
    {
        width: 49%;
    }
    .testi .visitor:nth-of-type(3)
    {
        margin-left: 2%;
    }
}
@media (min-width:992px) and (max-width:1199px){ /*small screen*/
    .testi .visitor:first-of-type
    {
        width: 80%;
        margin:0 10% 20px;
    }
    .testi .visitor:not(:first-of-type)
    {
        width: 49%;
    }
    .testi .visitor:nth-of-type(3)
    {
        margin-left: 2%;
    }
}
@media (min-width:1200px) { /*large screen*/
    .testi .visitor:first-of-type
    {
        width: 60%;
        margin:0 20% 20px;
    }
    .testi .visitor:not(:first-of-type)
    {
        width: 49%;
    }
    .testi .visitor:nth-of-type(3)
    {
        margin-left: 2%;
    }
}
/* testimonial */
/* tabs */
.tabs
{
    padding: 30px 0 70px;
    background-color: #eee;
}
.tabs h2
{
    margin-bottom: 20;
    font-size:50px;
    padding: 0 25px;
    text-align: center;
}
.tabs ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}
.tabs ul li
{
    display: inline-block;
    padding: 15px;
    background-color: rgb(230, 230, 230);
    color: rgb(39, 39, 39);
    font-size: 25px;
    cursor: pointer;
}
.tabs ul .selected
{
    background-color: #fff;
    color: rgba(83, 83, 209, 1);
    font-weight: bold;
}
.tabs .preview
{
    background-color: #fff;
    padding: 15px;
}
.tabs .preview p 
{
    font-size: 30px;
    margin: 0;
    padding: 15px;
    color: #424040
}
.tabs .preview > p:not(:first-of-type)
{
    display: none;
}
@media (max-width:767px) { /*mobile screen*/
    .tabs ul li
    {
        display: block;
    }
}
/* tabs */
/* footer */
footer
{
    background-color: rgb(46, 46, 46);
    text-align: center;
    display: flex;
    min-height: 80px;
    justify-content: center;
    align-content: center;
}
footer p
{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 5px 30px;
    line-height: 1.5
}
@media (max-width: 767px)
{
    footer p{

        font-size: 20px;
    }
}
/* footer */
/* my framework */
.container
{
    margin: auto;
}
.floating
{
    float: left;
}
.clearfix
{
    clear: both;
}
/* my framework */
